.footer {
    background-color: #1f2937; 
    color: white;
    padding: 2rem;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-logo-section {
    max-width: 300px;
}
  
.footer-logo-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.footer-logo-section p {
    margin-top: 0.5rem;
    font-size: 1rem;
}
  
.footer-links {
    display: flex;
    gap: 2rem;
}
  
.footer-links div {
    display: flex;
    flex-direction: column;
}
  
.footer-links h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
  
.footer-links a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}
  
.footer-links a:hover {
    color: #ecc25a; 
}
  
    .footer-social-contact {
    max-width: 300px;
}
  
    .social-icons {
    display: flex;
    gap: 1rem;
}
  
    .social-icons a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
  
    .footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8rem;
}
  